.cleaning {
  background: @color-f5;
  .banner {
    display: block;
    width: 100%;
    img {
      display: block;
      width: 100%;
    }
  }
  .panel {
    width: 100%;
    background: @color-f;
    .list-top {
      padding-top: 10px;
      > li {
        display: block;
        width: 25%;
        padding: 10px 0;
        float: left;
        text-align: center;
        line-height: 30px;
        color: #565656;
        img {
          display: block;
          width: 60%;
          margin: 0 auto;
        }
      }
    }
    .title {
      position: relative;
      width: 100%;
      height: 45px;
      border-bottom: solid 1px @color-f5;
      line-height: 45px;
      padding-left: 10px;
      font-size: 16px;
      &.icon1, &.icon2, &.icon3, &.icon4 {
        padding-left: 20px;
      }
      &:after {
        position: absolute;
        top: 14px;
        left: 11px;
        width: 4px;
        height: 17px;

        content: '';
      }
      &.icon1:after {
        background: #ffcf1b;
      }
      &.icon2:after {
        background: #1fd6b8;
      }
      &.icon3:after {
        background: #fdac2b;
      }
      &.icon4:after {
        background: #93d61f;
      }
    }
    .card {
      position: relative;
      width: 100%;
      height: 65px;
      padding-left: 8%;
      line-height: 65px;
      > img {
        width: 30%;
      }
      > .text {
        position: absolute;
        width: 55%;
        top: 0;
        right: 0;
        padding-top: 15px;
        line-height: 20px;
        font-size: 13px;
        span {
          display: block;
          color: @color-c;
        }
      }
    }
    .list-tab {
      li {
        display: block;
        float: left;
        width: 33.33%;
        height: 30px;
        margin-bottom: 10px;
        text-align: center;
        line-height: 30px;
        p {
          display: block;
          margin: 0 10px;
          height: 100%;
          background: @color-f5;
        }

      }
    }
  }
  .list-left {
    width: 48.5%;
    float: left;
  }
  .list-right {
    width: 48.5%;
    float: right;
  }
}

.cleaning-all {
  position: relative;
  .tab-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    border-right: solid 1px @color-f5;
    li {
      position: relative;
      width: 100%;
      height: 30px;
      margin-top: 10px;
      text-align: center;
      line-height: 30px;
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 4px;
        height: 100%;
        background: @color-yellow;
        content: '';
      }
      &.active:after {
        display: block;
      }
    }
  }
  .tab-con {
    width: 72%;
    margin-left: 28%;
    .title {
      line-height: 35px;
      font-weight: 600;
    }
    .list {
      width: 95%;
      margin: 0 auto;
      > li {
        width: 33.33%;
        float: left;
        margin-bottom: 10px;
        text-align: center;
        line-height: 30px;
        img {
          display: block;
          width: 85%;
          margin: 0 auto;
        }
      }
    }
    .tab-box {
      position: relative;
      background: @color-f;
      width: 95%;
      margin: 20px 0;
      padding-top: 10px;
      &:extend(.shadow);
      &:after {
        position: absolute;
        top: 0;
        left: -5px;
        width: 40px;
        height: 30px;
        background: url("../images/cleaning/hot.png") no-repeat;
        background-size: 100% auto;

      }
    }
  }
}

.cleaning-sort {
  position: relative;
  .tab-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    background: @color-f;
    width: 100%;
    height: 40px;
    border-bottom: solid 1px @color-e5;
    &:after {
      position: absolute;
      display: block;
      top: 10px;
      left: 50%;
      width: 1px;
      height: 20px;
      background: @color-f5;
      content: '';
    }
    > li {
      width: 50%;
      float: left;
      text-align: center;
      line-height: 40px;
      font-size: 14px;
      &.active {
        color: @color-yellow;
      }
      .show {
        display: none;
      }
      .hidden {
        display: inline;
      }
      .show, .hidden {
        width: 8px;
      }
      .sort-icon {
        width: 16px;
        margin-right: 5px;
      }
      &.active {
        .show {
          display: inline;
        }
        .hidden {
          display: none;
        }
      }
    }
  }
  .tab-con {
    position: relative;
    z-index: 0;
    padding-top: 40px;
    > li {
      position: relative;
      height: 130px;
      width: 100%;
      padding: 10px 15px 0 105px;
      border-bottom: solid 10px @color-f5;
      .photo {
        position: absolute;
        width: 75px;
        height: 75px;
        top: 15px;
        left: 15px;
      }
      .title {
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        &:extend(.ellipsis);
      }
      .badge {
        width: 100%;
        height: 20px;
        line-height: 20px;
        .eval {
          display: block;
          float: left;
          font-size: 13px;
          color: @color-9;
          img {
            width: 13px;
            margin-right: 5px;
            vertical-align: inherit;
          }

        }
        span {
          display: block;
          float: left;
          margin-left: 10px;
          font-size: 13px;
          color: @color-9;
        }
      }
      .price {
        width: 100%;
        height: 28px;
        line-height: 28px;
        font-size: 16px;
        color: @color-red;
        > span {
          padding: 1px 8px;
          border-radius: 3px;
          background: @color-red;
          color: @color-f;

        }
      }
      .address {
        width: 100%;
        height: 30px;
        border-top: solid 1px @color-f5;
        line-height: 30px;
        font-size: 13px;
        color: @color-9;
        img {
          height: 15px;
          margin-right: 5px;
        }
      }
    }
  }
  .sort-box {
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 11;
    width: 100%;
    background: @color-f;

    p {
      width: 100%;
      height: 45px;
      line-height: 45px;
      padding-left: 30px;
      font-size: 14px;
      border-bottom: solid 1px @color-f5;
      &.active {
        color: @color-yellow;
      }
    }
  }
  .choose-box {
    position: fixed;
    width: 90%;
    height: 100%;
    top: 0;
    left: 10%;
    z-index: 10;
    background: @color-f;
    .title {
      width: 100%;
      height: 50px;
      line-height: 50px;
      padding-left: 15px;
      font-size: 16px;
    }
    .list {
      padding: 0 15px;
      > li {
        width: 33.33%;
        height: 30px;
        margin-bottom: 10px;
        float: left;
        text-align: center;
        line-height: 30px;

        p {
          width: 90%;
          height: 100%;
          border: solid 1px @color-f5;
          font-size: 14px;
        }
        &.active p {
          color: @color-yellow;
          border: solid 1px @color-yellow;
        }
      }
    }
    .bottom-btn {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 45px;
      text-align: center;
      line-height: 45px;
      font-size: 16px;
      background: @color-yellow;
    }
  }
}

.cleaning-detail {
  padding-bottom: 15px;
  background: @color-f5;
  .personal {
    position: relative;
    width: 100%;
    height: 120px;
    padding: 20px 0 0 110px;
    background: url("../images/cleaning/line.png") repeat-x;
    background-size: auto 100%;
    .photo {
      position: absolute;
      width: 70px;
      height: 70px;
      top: 25px;
      left: 20px;
      border-radius: 50%;
    }
    .name {
      height: 30px;
      line-height: 30px;
      font-size: 16px;
      span {
        font-size: 13px;
        color: @color-9;
        margin-left: 10px;
      }
    }
    .price {
      height: 22px;
      line-height: 20px;
      color: @color-9;
      span {
        font-size: 16px;
        color: @color-red;
      }
    }
    .address {
      height: 25px;
      line-height: 25px;
      color: @color-9;
      span {
        font-size: 14px;
        color: @color-9;
        margin: 0 2px;
      }
    }
  }
  .panel {
    width: 100%;
    background: @color-f;
    margin-bottom: 15px;
    padding-bottom: 1px;
    .personal-aut {
      padding: 10px 20px 15px 20px;
      li {
        display: block;
        width: 33.333%;
        height: 30px;
        float: left;
        padding-left: 10px;
        font-size: 13px;
        line-height: 30px;
        img {
          height: 14px;
          margin-right: 5px;
          margin-top: -2px;
        }
      }
    }
    .personal-btn {
      width: 100%;
      height: 45px;
      border-top: solid 1px @color-f5;
      text-align: center;
      line-height: 45px;
      font-size: 13px;
      img {
        height: 14px;
        margin-left: 3px;
        margin-top: -4px;
      }
    }
    .personal-detail {
      .title {
        width: 100%;
        height: 45px;
        padding-left: 15px;
        border-bottom: solid 1px @color-f5;
        line-height: 45px;
        font-size: 16px;
      }
      .content {
        padding: 10px 15px;
        font-size: 13px;
        line-height: 22px;
      }
    }
    .evaluate {
      padding-bottom: 1px;
      .title {
        width: 100%;
        height: 45px;
        padding: 0 15px;
        line-height: 45px;
        font-size: 16px;
        .right {
          color: @color-9;
          font-size: 14px;
          img {
            width: 15px;
            margin-right: 2px;
            margin-top: -3px;
          }
        }
      }
      .eval-list {
        margin-top: -10px;
        li {
          padding: 10px 0;
          border-bottom: solid 1px @color-f5;
          .name {
            width: 100%;
            padding: 0 15px;
            height: 20px;
            line-height: 20px;
            color: @color-9;
            font-size: 13px;
            img {
              width: 12px;
              margin-left: 2px;
              margin-top: -3px;
            }
          }
          .text {
            padding: 5px 15px 0 15px;
            line-height: 25px;
            font-size: 14px;
          }
          .time {
            padding: 0 15px;
            line-height: 25px;
            color: @color-9;
          }
        }
      }
      .all-eval {
        margin: 20px auto;
        width: 100px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        border: solid 1px @color-yellow;
        border-radius: 15px;
        color: @color-yellow;
      }
    }
    .icon-title {
      display: block;
      margin: 0 auto;
      padding: 20px 0;
      img {
        display: block;
        height: 17px;
        margin: 0 auto;
      }
    }
    .table {
      width: 89%;
      margin: 0 auto 20px auto;
      border: #f9fafe solid 1px;
      border-bottom: none;
      thead {
        padding-left: 10px;
        height: 35px;
        line-height: 35px;
        background: #f9fafe;

        th {
          font-weight: lighter;
          font-size: 14px;
        }
      }
      tbody {
        tr {
          height: 35px;
          line-height: 35px;
          text-align: center;

          td {
            font-size: 14px;
            border-bottom: #f9fafe solid 1px;
          }
        }
      }
    }
    .detail-box {
      margin: 0 20px 20px 20px;
      border: #f9fafe solid 1px;
      .title {
        width: 100%;
        padding-left: 10px;
        height: 30px;
        line-height: 30px;
        background: #f9fafe;
      }

    }
    .text-box {
      padding: 7px 10px;
      line-height: 22px;
      p {
        font-size: 14px;
        &.grey {
          color: @color-c;
          font-size: 12px;
          span {
            font-size: 12px;
            text-indent: 28px;
            color: @color-c;
          }
        }
      }
    }
    .three-list {
      padding: 20px 15px 0 15px;

      li {
        width: 33.33%;
        margin: 0 auto 10px auto;
        float: left;
        text-align: center;
        p {
          line-height: 35px;
          img {
            display: block;
            width: 65%;
            margin: 0 auto;
          }
        }
      }
      &.big {
        padding-top: 0;
        li p {
          font-size: 14px;
        }
      }
    }
    .two-list {
      padding: 20px 20px 5px 20px;
      line-height: 22px;
      font-size: 14px;
      li {
        width: 50%;
        margin: 0 auto 10px auto;
        float: left;
        text-align: center;
        p {
          width: 100%;
          margin: 0 auto;
          line-height: 20px;
          img {
            display: block;
            width: 50%;
            margin: 0 auto 5px auto;
          }
        }
      }
    }
  }
  .banner {
    width: 100%;
    img {
      display: block;
      width: 100%;
    }
  }
  .price-box {
    padding: 5px 10px 10px 10px;
    .tit {
      height: 25px;
      line-height: 25px;
      font-size: 14px;
    }
    .note {
      height: 25px;
      line-height: 25px;
      font-size: 16px;
      color: @color-red;
      img {
        height: 18px;
        margin-left: 3px;
      }
      .right {
        color: @color-yellow;
        font-size: 16px;
      }
    }
  }
  .sub-btn {
    display: block;
    width: 80%;
    height: 40px;
    margin: 0 auto;
    border-radius: 3px;
    background: @color-yellow;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
  }
}

.cleaning-personal {
  padding-bottom: 15px;
  background: @color-f5;
  .nav {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    background: @color-f;
    img {
      position: absolute;
      top: 15px;
      left: 15px;
      display: block;
      height: 20px;
    }
  }
  .panel {
    width: 100%;
    background: @color-f;
    margin-bottom: 15px;
    padding-bottom: 1px;
    .title {
      width: 100%;
      height: 45px;
      padding: 0 15px;
      border-bottom: solid 1px @color-f5;
      font-size: 12px;
      color: #666;
      line-height: 45px;
    }
    .base-list {
      position: relative;
      &:before {
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        background: @color-f5;
        content: '';
      }
      li {
        width: 50%;
        padding: 0 15px;
        height: 45px;
        float: left;
        border-bottom: solid 1px @color-f5;
        font-size: 14px;
        line-height: 45px;
        &.clear {
          width: 100%;
          float: none;
        }
        &:nth-last-child(1) {
          border: none;
        }
        span {
          font-size: 14px;
          float: right;
        }
      }
    }
    .row-list {
      position: relative;
      li {
        padding: 0 15px;
        min-height: 45px;
        border-bottom: solid 1px @color-f5;
        font-size: 14px;
        line-height: 45px;
        &:extend(.clear);
        &:nth-last-child(1) {
          border: none;
        }
        span {
          font-size: 14px;
          float: right;
          img {
            height: 13px;
            margin-right: 3px;
          }
        }
        p {
          width: 70%;
          padding: 10px 0;
          line-height: 25px;
          text-align: right;
          font-size: 14px;
        }
      }
    }
  }
}

.cleaning-evaluate {
  padding-bottom: 15px;
  background: @color-f5;
  .panel {
    width: 100%;
    background: @color-f;
    margin-bottom: 15px;
    padding-bottom: 1px;
    .title {
      width: 100%;
      height: 70px;
      padding: 10px 15px;
      line-height: 25px;
      font-size: 16px;
      border-bottom: solid 1px @color-f5;
      .price {
        font-size: 13px;
        color: @color-red;
      }
    }
    .sore {
      width: 100%;
      height: 45px;
      padding: 0 15px;
      line-height: 45px;
      font-size: 13px;
      .right {

        font-size: 13px;
        img {
          width: 15px;
          margin-left: 2px;
          margin-top: -3px;
        }
      }
    }
    .eval-list {
      width: 100%;
      li {
        position: relative;
        padding: 15px 15px 15px 55px;
        border-bottom: solid 1px @color-f5;
        &:nth-last-child(1) {
          border: none;
        }
        .photo {
          position: absolute;
          top: 15px;
          left: 15px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        .icon {
          height: 20px;
          line-height: 20px;
          img {
            width: 16px;
            margin-right: 3px;
          }
        }
        .time {
          line-height: 30px;
          color: @color-9;
        }
        .text {
          line-height: 20px;
          font-size: 14px;
        }
      }
    }
  }
}

.cleaning-appointment{

}
.sub-box {
  width: 100%;
  .sub-static {
    text-align: center;
    padding-top: 25%;
    font-size: 16px;
    margin-bottom: 20%;
    img {
      display: block;
      width: 40%;
      margin: 10% auto;
    }
  }
  .btn {
    display: block;
    width: 40%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 0 auto 30px auto;
    font-size: 14px;
    &.style1 {
      border: solid 1px @color-0;
    }
    &.style2 {
      background: @color-yellow;
    }
  }
}
