/** detail1 需求详情  **/
.detail1 {
  margin-top: -20px;
  padding-bottom: 60px;

  > ul.detail-list {
    width: 100%;
    padding: 0 5%;
    background: @color-f2;
    > li {
      padding: 15px 0;
      line-height: 30px;
      font-size: 13px;
      border-bottom: solid 1px @color-f0;
      span.badge {
        padding: 5px 10px;
        border-radius: 5px;
        background: @color-primary;
        color: @color-f0;
      }
    }
    &.last-bor {
      > li:nth-last-child(1) {
        border-bottom: none;
      }
    }
  }
  > .title-1 {
    width: 100%;

    padding: 20px 5% 0 5%;
    font-size: 14px;
    background: @color-f2;
  }
  > .title-2 {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0 0 0;
    height: 35px;
    font-size: 15px;
    color: @color-primary;
  }
  > .detail-img {
    width: 94%;
    margin: 0 auto;
    &:after {
      display: block;
      clear: both;
      content: '';
    }
    > li {
      display: block;
      width: 33.3333%;
      height: 100px;
      float: left;
      margin-bottom: 10px;
      > img {
        display: block;
        width: 92%;
        height: 100%;
        margin: 0 auto;
        border: solid 1px @color-f0;
        border-radius: 5px;
      }
    }
  }
  > .up-img {
    width: 90%;
    margin: 0 auto;
  }
  .detail-box {
    width: 100%;
    padding: 5px 5% 20px 5%;
    background: @color-f2;
    line-height: 24px;
    > a {
      margin: 0 10px 0 0;
      color: @color-primary;
    }
  }
}

.detail2 {
  margin-top: -20px;
  padding-bottom: 60px;
  .tab-bar {
    position: fixed !important;
    top: 50px;
    z-index: 10;
    background: @color-f2;
    height: 45px;
    border-bottom: solid 1px @color-f0;

    .mint-tab-item {
      padding: 0;
      .mint-tab-item-label {
        line-height: 45px;
      }
      &.is-selected {
        position: relative;
        background: @color-f2;
        color: @color-primary;
        &:after {
          position: absolute;
          bottom: 0;
          left: 35%;
          width: 30%;
          height: 2px;
          background: @color-primary;
          content: '';

        }
      }
    }
  }
  .mint-tab-container {
    background: @color-f2;
    margin-top: 45px;
    padding: 0 5% 60px 5%;
    .detail-list {
      width: 100%;
      padding: 10px 0 0 0;
      background: @color-f2;
      > li {
        line-height: 35px;
        font-size: 13px;
      }
    }
    .title-1 {
      line-height: 40px;
    }
    .title-2 {
      line-height: 20px;
      font-size: 15px;
      color: @color-primary;
    }
    .detail-img {
      width: 100%;
      margin: 0 auto;
      &:after {
        display: block;
        clear: both;
        content: '';
      }
      > li {
        display: block;
        width: 33.3333%;
        height: 100px;
        float: left;
        margin-bottom: 10px;
        > img {
          display: block;
          width: 92%;
          height: 100%;
          margin: 0 auto;
          border: solid 1px @color-f0;
          border-radius: 5px;
        }
      }
    }
    .detail-box {
      width: 100%;
      background: @color-f2;
      line-height: 24px;
    }
  }
}

.detail-listE {
  background: @color-f2;
  padding: 20px 5%;
  border-top: solid 1px @color-f0;
  .unit {
    line-height: 30px;
    min-height: 30px;
    &:after {
      display: block;
      clear: both;
      content: '';
    }
    p {
      height: 30px;
    }
    > span.badge {
      display: block;
      float: left;
      padding: 0 10px;
      line-height: 20px;
      margin: 5px 10px 5px 0;
      border-radius: 5px;
      background: @color-primary;
      color: @color-f0;
    }
    i {
      display: block;
      float: left;
      margin-right: 10px;
      color: @color-primary;
    }
  }
}
/**我的 备忘录**/
.memorandum {
  width: 100%;
  height: 50px;
  background: @color-f2;
  line-height: 50px;
  font-size: 15px;
  img {
    width: 8%;
    margin: 0 10px 0 20px;
  }
}
